<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Categories</title>
  {% load static %}

  <link rel="stylesheet" href="{% static 'blog/css/navbar.css' %}">
</head>
<body style="background-color: #CCCCCC;">
  {% include 'includes/navbar.html' %}
  <h1>All posts categories</h1>
  <br>
  <ul>
    {% for category in categories %}
      <li><h3><a href="{% url 'post-category' category=category %}">{{ category|title }}</a></h3></li>
    {% endfor %}
  </ul>
</body>
</html>

